/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
.title {
    color: #809dd6;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon {
    list-style-type: none;
}
li {
    list-style-type: none;
    padding: 5px;
}
.top {
    background-color:#809dd6;
    color: white;
    height: 500px;
    margin-top: 20px;
    
}

.bottom {
    background-color: #a1b4da;
    color: white;
}
h2 {
    font-weight: bold;
    font-size: 1.5em;
}
h3 {
    padding-top: 20px;
}
img {
    padding-top: 15px;
}
.experience {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.date {
    text-align: right;
    color: gray;

}
.info {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    
}
.info-sub {
    margin: 0;
}
.description {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}
.location {
    color: gray;
    padding-top: 0;
    text-align: left;
}



